body {
    background: #ccc;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

.chat-input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    padding: .8em 1.2em .8em 1.2em;
    resize: none; 
    max-width: 460px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 19px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    field-sizing: content;
    position: fixed;
    bottom: 5em;
    left: 90px;
    opacity: 0;
    transition: all 300ms;
    border:0;
    box-shadow: 0 5px 3px #b6b6b6;
  }

  #textareaCSS.warning::before {
    border-top: 10px solid red; 
}

#textareaCSS.info::before {
    border-top: 10px solid blue; 
}

.chat-input.warning {
    background: red;
    color: #fff;
}

.chat-input.info {
    background: blue;
    color: #fff;
}


  .chat-input:focus {
    opacity: 1;
  }

#textareaCSS::before {
    content: "";
    position: absolute;
    bottom: 0; /* Ajusta para que el piquito esté en la posición deseada */
    left: 40px; /* Ajusta para que el piquito esté alineado con el borde del bubble */
    top: -64px;
    width: 10px;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff; /* Color del piquito, igual al del bubble */
}

#textareaCSS.warning::before {
    border-top: 10px solid red; /* Color del piquito, igual al del bubble */
}

#textareaCSS.info::before {
    border-top: 10px solid blue; /* Color del piquito, igual al del bubble */
}

  
.auto_height {
    min-height: 50px; 
}

*:focus {
    outline: none;
}
